/Debug
/Release
/GeodatabaseConsole/bin
/GeodatabaseConsole/Debug
/GeodatabaseConsole/Debug64
/GeodatabaseConsole/ipch
/GeodatabaseConsole/x64
/GeodatabaseConsole/GeodatabaseConsole.sdf
/GeodatabaseConsole/data
/DevSummitJGraphicsViewer/bin
/GeodatabaseConsole/GeodatabaseConsole/x64
/GeodatabaseConsole/GeodatabaseConsole/Debug
/GeodatabaseConsole/GeodatabaseConsole/Debug64
/GeodatabaseConsole/GeosecureGeodatabaseCommons/x64
/GeodatabaseConsole/GeosecureGeodatabaseCommons/Debug
/GeosecureCommons/*.user
/GeosecureAisDecoder/GeosecureAisDecoder.pro.user
/GeosecureAisViewer/GeosecureAisViewer.pro.user
/DevSummitGeometryEngineConsole/*.user
/GeosecureGeodatabase/*.user
/DevSummitGraphicsViewer/*.user
/GeodatabaseConsole/GeodatabaseConsole/*.user
/GeodatabaseConsole/*.suo
