/Debug
/Release
/GeodatabaseConsole/bin
/GeodatabaseConsole/Debug
/GeodatabaseConsole/Debug64
/GeodatabaseConsole/ipch
/GeodatabaseConsole/x64
/GeodatabaseConsole/GeodatabaseConsole.sdf
/GeodatabaseConsole/data
/DevSummitJGraphicsViewer/bin
